.carousel-item-padding {
    padding: 100px 350px;
}

.add-section {
    background-image: url("../images/bg-img.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
}